<configuration>
    <appender name="LOKI" class="com.github.loki4j.logback.LokiAppender">
        <http>
            <url>https://TU-URL-LOKI/loki/api/v1/push</url>
        </http>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        <labels>
            <label name="app" value="schedulepro" />
            <label name="level" pattern="%level" />
        </labels>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI" />
    </root>
</configuration>
