<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="LOKI" class="com.github.loki4j.logback.LokiAppender">
        <url>https:https://schedulepro-loki.onrender.com/loki/api/v1/push</url>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        <labels>
            <label name="app" value="schedulepro" />
            <label name="level" pattern="%level" />
        </labels>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI" />
    </root>

</configuration>
